:root {
    --primary: #B17A50;
    --secondary: #2e3133;
    --light: #EFFDF5;
    --dark: #28353b;
}


.header_poster {
    position: relative;
    top: -76px;
}

.navImg {
    width: 165px;
    margin-right: 8px;
}

nav a h1 {
    color: black;
    font-size: 24px;
    margin-top: 6px;
}

.endToEnd-border {
    height: 10px;
    background-color: #B17A50;
    width: 51%;
    margin: 0 auto;
}

.divider-border {
    height: 10px;
    background-color: #B17A50;
}

.whyHomeSpanIconBox {
    display: flex;
    padding: 15px;
    margin: 5px;
    text-align: center;
}

.solutionIcons {
    margin: 0 auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.esyStepsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}


.esyStepsBox {
    display: flex;
    flex-direction: row;
    width: 685px;
    margin: 10px;
}

.esyStepsImg img{
    width: 330px;
    height: 235px;
    margin-right: 20px;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .esyStepsContainer {
        flex-direction: column;
        width: 100%;
    }

    .esyStepsBox {
        flex-direction: column;
        width: 90%;
        margin: 0;
        margin-bottom: 15px;
    }

    .esyStepsImg img{
        width: 100%;
    }

    .esyStepInfo {
        margin-left: 10px;
    }
}

.easyStepHead {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 15px 10px 0 0;
}

.easyStepNo h3 {
    font-size: 43px;
    margin-top: -8px;
    margin-right: 10px;
    color: #702963;
}

.esyStepInfo p {
    margin-right: 10px;
}

.service {
    display: flex;
    flex-direction: column;
    color: #B17A50;
}

.service:hover {
    color: #2B3940;
}

.service img {
    align-self: center;
    width: 65px;
    height: 65px;
    margin-bottom: 10px;
}

.pricing-banner-container {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
}

.pricing-banner {
    position: relative;
    color: black;
    z-index: 1;
    text-align: center;
    transition: transform 0.2s;
    box-shadow: 2px 2px 6px grey;
    border-radius: 10px;
}

.pricing-banner:hover {
    transform: scale(1.05);
    box-shadow: 4px 4px 12px rgb(60, 60, 60);
    transition: transform 0.2s;
}

.priceTagUp {
    position: absolute;
    top: 16px;
    left: 16px;
    z-index: 10001;
    font-size: 15px;
    background-color: #EFFDF5;
    border-radius: 50%;
    padding: 8px;
}

.priceTagDown {
    color: #EFFDF5;
    position: absolute;
    left: 16px;
    bottom: 16px;
    z-index: 10;
    font-size: 12px;
    background-color: #B17A50;
    border-radius: 20px;
    padding: 8px;
}

.roundImg {
    border-radius: 10px;
}

.homeFormContainer {
    background-image: url("/img/formBackground.jpg");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

@media (max-width: 768px) {
    .homeFormContainer {
        background-size: auto 100%;
    }
}

.homeForm {
    width: 50%;
    margin: 0 auto;
}

.z-index-10 {
    z-index: 10;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 45px;
    bottom: 45px;
    z-index: 99;
}

.bgTransparent {
    background-color: transparent;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.btn {
    font-family: 'Inter', sans-serif;
    font-weight: 600;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary {
    color: #FFFFFF;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
    border-radius: 2px;
}

/*** About & Feature ***/
.about-img,
.feature-img {
    position: relative;
    height: 100%;
    min-height: 400px;
}

.about-img img,
.feature-img img {
    position: absolute;
    width: 60%;
    height: 80%;
    object-fit: cover;
}

.about-img img:last-child,
.feature-img img:last-child {
    margin: 20% 0 0 40%;
}

.about-img::before,
.feature-img::before {
    position: absolute;
    content: "";
    width: 60%;
    height: 80%;
    top: 10%;
    left: 20%;
    border: 5px solid var(--primary);
    z-index: -1;
}


/*** Navbar ***/
.navbar .dropdown-toggle::after {
    border: none;
    content: "\f107";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    vertical-align: middle;
    margin-left: 5px;
    transition: .5s;
}

.navbar .dropdown-toggle[aria-expanded=true]::after {
    transform: rotate(-180deg);
}

.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: none;
    outline: none;
    text-shadow: 1.5px 1.5px #28353b;
    transition: 0.3s;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: black;
    text-shadow: none;
    transition: 0.3s;
}

@media (max-width: 991.98px) {

    .navbar-dark .navbar-nav .nav-link,
    .navbar-light .navbar-nav .nav-link {
        margin-right: 0;
        padding: 10px 0;
    }

    .navbar-light .navbar-nav {
        border-top: 1px solid #EEEEEE;
    }
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: whitesmoke;
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    background-color: transparent;
    transition: .5s;
}

@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        top: 100%;
        margin-top: 0;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        opacity: 0;
        visibility: hidden;
        transition: .5s;

    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
    }
}


/*** Header ***/
.header-carousel .container,
.page-header .container {
    position: relative;
    padding: 45px 0 45px 35px;
    border-left: 15px solid var(--primary);
}

.header-carousel .container::before,
.header-carousel .container::after,
.page-header .container::before,
.page-header .container::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100px;
    height: 15px;
    background: var(--primary);
}

.header-carousel .container::after,
.page-header .container::after {
    top: 100%;
    margin-top: -15px;
}

@media (max-width: 768px) {
    .header-carousel .owl-carousel-item {
        position: relative;
        min-height: 500px;
    }

    .header-carousel .owl-carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .header-carousel .owl-carousel-item p {
        font-size: 14px !important;
        font-weight: 400 !important;
    }

    .header-carousel .owl-carousel-item h1 {
        font-size: 30px;
        font-weight: 600;
    }

    .whyHomeSpanIconBox {
        display: flex;
        width: 22px;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: -25px 11%;
    }

    .homeForm {
        width: 90%;
        margin: 0 auto;
    }

    .whyHomeSpanIconBox i {
        font-size: 40px;
    }

    .whyHomeSpanIconBox h6 {
        font-size: 12px;
    }
}

.header-carousel .owl-nav {
    position: absolute;
    top: 50%;
    right: 8%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
}

.header-carousel .owl-nav .owl-prev,
.header-carousel .owl-nav .owl-next {
    margin: 7px 0;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
    font-size: 22px;
    transition: .5s;
}

.header-carousel .owl-nav .owl-prev:hover,
.header-carousel .owl-nav .owl-next:hover {
    background: var(--primary);
    border-color: var(--primary);
}

.page-header {
    background: linear-gradient(rgba(43, 57, 64, .5), rgba(43, 57, 64, .5)), url(../img/carousel-1.jpg) center center no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: var(--light);
}


/*** About ***/
.about-bg {
    background-image: -webkit-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: -o-repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-image: repeating-radial-gradient(center center, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 1px, transparent 1px, transparent 100%);
    background-size: 5px 5px;
}


/*** Category ***/
.cat-item {
    display: block;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    border: 1px solid transparent;
    transition: .5s;
    color: grey;
}

.cat-item:hover {
    color: #B17A50;
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Job Listing ***/
.nav-pills .nav-item .active {
    border-bottom: 4px solid var(--primary);
}

.job-item {
    border: 1px solid transparent;
    border-radius: 10px;
    box-shadow: 0 0 45px rgba(0, 0, 0, .08);
    transition: .5s;
}

.job-item:hover {
    border-color: rgba(0, 0, 0, .08);
    box-shadow: none;
}


/*** Testimonial ***/
/* .testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item.center .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-dots {
    margin-top: 24px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.testimonial-carousel .owl-dot {
    position: relative;
    display: inline-block;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    border: 5px solid var(--primary);
    border-radius: 2px;
    transition: .5s;
}

.testimonial-carousel .owl-dot.active {
    background: var(--dark);
    border-color: var(--primary);
} */

.testimonial-carousel .owl-nav {
    position: absolute;
    width: 100%;
    height: 40px;
    bottom: 0;
    left: -5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    z-index: 1;
  }
  
  .testimonial-carousel .owl-nav .owl-prev,
  .testimonial-carousel .owl-nav .owl-next {
    width: 40px;
    height: 40px;
    margin: 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #DFB163;
    background: transparent;
    border: 1px solid #DFB163;
    font-size: 22px;
    transition: .3s;
  }
  
  .testimonial-carousel .owl-nav .owl-prev:hover,
  .testimonial-carousel .owl-nav .owl-next:hover {
    color: #252531;
    background: #c29548;
  }

  .text-truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, 0.125);
  }

  .card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
  }


/*** Footer ***/
.footer .btn.btn-social {
    margin-right: 5px;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 2px;
    transition: .3s;
}

.footer .btn.btn-social:hover {
    color: var(--primary);
    border-color: var(--light);
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    font-size: 15px;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .form-control {
    border-color: rgba(255, 255, 255, 0.5);
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .footer-menu a {
    margin-right: 15px;
    padding-right: 15px;
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.footer .footer-menu a:last-child {
    margin-right: 0;
    padding-right: 0;
    border-right: none;
}



.galleryContainer {
    background-image: url(/img/tableBackground.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    padding: 50px 0;
}

.galleryContainer p {
    height: 100px;
    width: 760px;
    margin: 75px auto;
    position: relative;
  }
  
.galleryContainer  img {
    height: 150px;
    position: absolute;
    left: 0;
    offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
    box-shadow: 1px 1px 3px #0008;
    transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
    z-index: 0;
  }
  
.galleryContainer  img:hover {
    transform: scale(3);
    /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
    offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
    box-shadow: 3px 4px 10px #0006;
    z-index: 999;
  }
  
  /* 3 images */
.galleryContainer  img:nth-last-child(3):first-child {
    offset-distance: 9%;
  }
.galleryContainer  img:nth-last-child(2):nth-child(2) {
    offset-distance: 49%;
  }
.galleryContainer img:last-child:nth-child(3) {
    offset-distance: 87%;
  }
  
  /* 4 images */
.galleryContainer  img:nth-last-child(4):first-child {
    offset-distance: 0%;
  }
.galleryContainer img:nth-last-child(3):nth-child(2) {
    offset-distance: 35%;
  }
.galleryContainer img:nth-last-child(2):nth-child(3) {
    offset-distance: 65%;
  }
.galleryContainer img:last-child:nth-child(4) {
    offset-distance: 100%;
  }
  
  /* 5 images */
.galleryContainer img:nth-last-child(5):first-child {
    offset-distance: 0%;
  }
.galleryContainer img:nth-last-child(4):nth-child(2) {
    offset-distance: 25%;
  }
.galleryContainer img:nth-last-child(3):nth-child(3) {
    offset-distance: 51%;
  }
.galleryContainer img:nth-last-child(2):nth-child(4) {
    offset-distance: 75%;
  }
.galleryContainer img:last-child:nth-child(5) {
    offset-distance: 100%;
  }